@page "/"

@rendermode InteractiveServer
<PageTitle>Edaman Recipes</PageTitle>

<div class="d-flex gap-2">
    <FluentSearch @ref=searchQuery
                  @bind-Value="SearchValue"
                  @bind-Value:after="HandleClear"
                  @oninput="@(e => SearchValue = e.Value?.ToString())"
                  Placeholder="Search recipe" />
    <FluentButton IconStart="@(new Icons.Regular.Size16.Search())"
                  @onclick="OnSearch">
        Search
    </FluentButton>
</div>

<div hidden="@(!isLoading)">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <FluentSkeleton Width="500px" Height="250px" Pattern="https://static.fast.design/assets/skeleton-test-pattern.svg" Shimmer="true"></FluentSkeleton>
    </div>
    <div class="d-flex justify-content-center align-items-start" style="height: 100vh;">
        <Spinner IsVisible="@isLoading" />
    </div>
</div>


<div class="card-container mt-2">
    @foreach (var recipe in recipes)
    {
        <FluentCard Data="@recipe" class="fluent-card" Width="100%" Height="auto">
            <ChildContent>
                <div style="font-weight:bold; font-size:large">@recipe.Label</div>
                <hr />
                <div class="recipe-content">
                    <div class="recipe-image">
                        <img src="@recipe.Image" class="img-fluid" alt="Recipe Image" />
                        <div>
                            <FluentBadge Appearance="Appearance.Accent">@recipe.Yield</FluentBadge>
                            @if (recipe.Cautions.Length > 0)
                            {
                                <h5>Cautions</h5>
                                @foreach (var cautionMsg in recipe.Cautions)
                                {
                                     <FluentBadge Appearance="Appearance.Stealth">@cautionMsg</FluentBadge>
                                }
                            }
                            <h6>Source: </h6><FluentBadge Appearance="Appearance.Outline">@recipe.Source</FluentBadge>
                            
                            @if(recipe.TotalTime > 0)
                            {
                                <h6>Cook time: </h6> <FluentBadge Appearance="Appearance.Lightweight">@recipe.TotalTime</FluentBadge>
                            }
                            <h6>Calories: </h6><FluentBadge Appearance="Appearance.Filled">@recipe.Calories.ToString("0.##")</FluentBadge>
                        </div>
                        <div class="preparation-link mt-2">
                            <a href="@recipe.Url.AbsoluteUri" target="_blank">Preparation</a>
                        </div>
                    </div>
                    <div class="recipe-details">
                        <div class="card" style="font-weight:bold; font-size:large;">
                            Ingredients
                        </div>
                        <div class="ingredient-list">
                            <ul class="list-group list-group-flush">
                                @foreach (string ingredient in recipe.IngredientLines)
                                {
                                    <li class="list-group-item">@ingredient</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </FluentCard>
    }
</div>


<style>
    /* Define the layout for the card container */
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .fluent-card {
        flex: 1 1 auto; /* Let flexbox handle the sizing */
        max-width: calc(33.33% - 10px); /* 3 cards per row on large screens */
        min-width: 300px; /* Set a minimum width for the card */
    }
    /* Adjust the styles for medium screens */
    @@media (max-width: 1199.98px) {
        .fluent-card {
            flex-basis: calc(50% - 10px); /* 2 cards per row on medium screens */
            max-width: calc(50% - 10px); /* 2 cards per row on medium screens */
        }
    }

    /* Adjust the styles for small screens */
    @@media (max-width: 767px) {
        .fluent-card {
            flex-basis: calc(100% - 10px); /* 1 card per row on small screens */
            max-width: calc(100% - 10px); /* 1 card per row on small screens */
        }
    }

    /* Adjust the styles for when there's only one card to display on medium screens */
    @@media (max-width: 1199.98px) {
        .card-container > .fluent-card:nth-child(2):only-child {
            flex-basis: calc(100% - 10px); /* 1 card per row */
            max-width: calc(100% - 10px); /* 1 card per row */
        }
    }

    .recipe-image {
        flex: 0 0 30%; /* Set the width of the image to 30% */
        align-self: flex-start; /* Align the image to the start of its container (top) */
    }

        .recipe-image img {
            width: 100%;
            height: auto;
            border: 2px solid #ffffff; /* Add a border */
            border-radius: 10px; /* Add rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transitions */
        }

            .recipe-image img:hover {
                transform: translateY(-2px) rotate(-2deg) scale(1.05); /* Apply a slight lift, tilt left, and scale increase on hover */
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
            }

                .recipe-image img:hover:hover {
                    transform: translateY(-2px) rotate(2deg) scale(1.05); /* Tilt right on second hover */
                }

    /* Adjust the layout for recipe content */
    .recipe-content {
        display: flex; /* Use flexbox for layout */
        flex-direction: row; /* Arrange items horizontally */
        align-items: center; /* Align items vertically */
        gap: 10px; /* Add space between items */
        width: 100%; /* Ensure content fills the available space */
    }

    /* Adjust the layout for recipe details */
    .recipe-details {
        flex: 1 1 auto; /* Allow details to flexibly grow */
    }

    .ingredient-list {
        max-height: 300px; /* Set the maximum height for the ingredient list */
        overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    }

</style>
