@page "/recipes"
@rendermode InteractiveServer

<PageTitle>Edaman Recipes</PageTitle>
<div class="card-box"/>

<div></div>
<div class="d-flex justify-content-center align-items-center gap-3">
    <FluentNumberField @bind-Value=maxTries Label="Recipes (max: 25)"
                       Appearance="FluentInputAppearance.Outline" Style="width:90px;"
                       Min="0" Max="25" Step="5"></FluentNumberField>
    <FluentCombobox Items="@jsonFiles" 
                    Appearance="Appearance.Outline" Style="width:120px;"
                    Label="Saved searches" Height="250px"
                    @bind-Value="@SearchValue"></FluentCombobox>
    <FluentSearch @ref=searchQuery
                  @bind-Value="SearchValue"
                  @bind-Value:after="HandleClear"
                  @oninput="@(e => SearchValue = e.Value?.ToString())"
                  Size="40" Appearance="FluentInputAppearance.Outline" Spellcheck=false />
    <FluentButton IconStart="@(new Icons.Regular.Size16.Search())" Appearance="Appearance.Accent" BackgroundColor="green" Color="white" Style="border-radius:22px;"
                  @onclick="OnSearch">
        Search
    </FluentButton>
    <div hidden="@(!isLoading)">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <Spinner IsVisible="@isLoading" />
        </div>
    </div>
</div>
<hr />
<FluentBodyContent>
    <div class="card-container mt-2">
        @{
            int index = 0;

            foreach (var recipe in recipes)
            {
                <FluentCard Data="@recipe" class="fluent-card" Width="100%" Height="auto">
                    <ChildContent>
                        <div style="font-weight:bold; font-size:large;">@recipe.Label</div>
                        <hr />
                        <div class="recipe-content">
                            <div class="recipe-image">
                                <img src="@recipe.Image" class="img-fluid" alt="Recipe Image" />
                                <div class="mt-1 mb-2">
                                    <div class="d-flex justify-content-start align-items-center gap-1 mb-1">
                                        <div class="col-lg-4"><small>Servings</small></div>
                                        <FluentBadge Appearance="Appearance.Neutral"><b>@recipe.Yield</b></FluentBadge>
                                    </div>

                                    @if (recipe.Cautions.Length > 0)
                                    {
                                        <div class="row">
                                            <div class="col-lg-4"><small>Cautions</small></div>
                                            <div class="d-flex gap-1 col-lg-8" style="flex-wrap:wrap">
                                                @foreach (var cautionMsg in recipe.Cautions)
                                                {
                                                    <FluentBadge Appearance="Appearance.Neutral" Fill="highlight" BackgroundColor="red" Color="white">@cautionMsg</FluentBadge>
                                                }
                                            </div>
                                        </div>
                                    }
                                    <div class="row my-1">
                                        <div class="col-lg-4"><small>Source</small></div>
                                        <div class="col-lg-8">
                                            <FluentBadge Appearance="Appearance.Neutral" Fill="highlight" BackgroundColor="#ffd800;" Color="#000">@recipe.Source</FluentBadge>
                                        </div>
                                    </div>

                                    @if (recipe.TotalTime > 0)
                                    {
                                        <div class="row my-1">
                                            <div class="col-lg-4"><small>Cook</small></div>
                                            <div class="col-lg-8">
                                                <FluentBadge Appearance="Appearance.Neutral" Fill="lowlight" BackgroundColor="#000;" Color="#fff">@recipe.TotalTime</FluentBadge>
                                                <span> min.</span>
                                            </div>
                                        </div>
                                    }
                                    <div class="row my-1">
                                        <div class="col-lg-4"><small>Calories</small></div>
                                        <div class="col-lg-8">
                                            @if (@recipe.Calories <= 2000)
                                            {
                                                <FluentBadge Appearance="Appearance.Neutral" Fill="highlight" BackgroundColor="green" Color="white">@recipe.Calories.ToString("#,##0.00")</FluentBadge>
                                            }
                                            else
                                            {
                                                <FluentBadge Appearance="Appearance.Neutral" Fill="highlight" BackgroundColor="red" Color="white">@recipe.Calories.ToString("#,##0.00")</FluentBadge>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="preparation-link mt-2 text-center">
                                    <hr />
                                    <a class="btn btn-outline-success" href="@recipe.Url.AbsoluteUri" target="_blank">Preparation</a>
                                </div>
                            </div>
                            <div class="recipe-details">
                                <div class="card" style="font-weight:bold; font-size:large;">
                                    <h5>Ingredients</h5>
                                </div>
                                <div class="ingredient-list">
                                    <ul class="list-group list-group-flush">
                                        @foreach (string ingredient in recipe.IngredientLines)
                                        {
                                            <li class="list-group-item">@ingredient</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ChildContent>
                </FluentCard>

                if ((index + 1) % 6 == 0 && index != 0 && index != recipes.Count - 1)
                {
                    <p class="col-lg-12 mt-2 d-flex justify-content-center">
                        <FluentButton IconStart="@(new Icons.Regular.Size24.ArrowCircleUp())"
                                      Appearance="Appearance.Accent"
                                      BackgroundColor="steelblue"
                                      Color="white"
                                      Style="border-radius:18px;"
                                      @onclick="ScrollTop">
                            Go Top
                        </FluentButton>
                    </p>
                }
                index++;

            }

        }
    </div>
</FluentBodyContent>


<style>
    /* Define the layout for the card container */
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .fluent-card {
        flex: 1 1 auto; /* Let flexbox handle the sizing */
        max-width: calc(33.33% - 10px); /* 3 cards per row on large screens */
        min-width: 300px; /* Set a minimum width for the card */
    }
    /* Adjust the styles for medium screens */
    @@media (max-width: 1199.98px) {
        .fluent-card {
            flex-basis: calc(50% - 10px); /* 2 cards per row on medium screens */
            max-width: calc(50% - 10px); /* 2 cards per row on medium screens */
        }
    }

    /* Adjust the styles for small screens */
    @@media (max-width: 767px) {
        .fluent-card {
            flex-basis: calc(100% - 10px); /* 1 card per row on small screens */
            max-width: calc(100% - 10px); /* 1 card per row on small screens */
        }
    }

    /* Adjust the styles for when there's only one card to display on medium screens */
    @@media (max-width: 1199.98px) {
        .card-container > .fluent-card:nth-child(2):only-child {
            flex-basis: calc(100% - 10px); /* 1 card per row */
            max-width: calc(100% - 10px); /* 1 card per row */
        }
    }

    .recipe-image {
        flex: 0 0 40%; /* Set the width of the image to 30% */
        align-self: flex-start; /* Align the image to the start of its container (top) */
    }

        .recipe-image img {
            width: 100%;
            height: auto;
            border: 2px solid #ffffff; /* Add a border */
            border-radius: 10px; /* Add rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transitions */
        }

            .recipe-image img:hover {
                transform: translateY(-2px) rotate(-2deg) scale(1.05); /* Apply a slight lift, tilt left, and scale increase on hover */
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
            }

                .recipe-image img:hover:hover {
                    transform: translateY(-2px) rotate(2deg) scale(1.05); /* Tilt right on second hover */
                }

    /* Adjust the layout for recipe content */
    .recipe-content {
        display: flex; /* Use flexbox for layout */
        flex-direction: row; /* Arrange items horizontally */
        align-items: center;
        gap: 10px; /* Add space between items */
        width: 100%; /* Ensure content fills the available space */
    }

    /* Adjust the layout for recipe details */
    .recipe-details {
        flex: 1 1 auto; /* Allow details to flexibly grow */
        align-self: flex-start;
    }

    .ingredient-list {
        max-height: 300px; /* Set the maximum height for the ingredient list */
        overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    }

    .card-box {
        height: 200px;
        width: 100%;
        margin-bottom: 32px;
        background-image: url('/images/recipesimage.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message {
        text-align: center;
        color: white; /* Adjust text color for better visibility */
    }
</style>
